* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(./images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 16.23rem 4.5rem 0; /* Esse deu a altura da margem correta.*/
  position: relative;
}

.avatar span {
  position: absolute;
  top: -5px;
  left: 5px;
  z-index: 1;
  transform: rotate(180deg);
  animation: anim 5s infinite;
}

.avatar > img {
  width: 12rem;
  height: 13.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 96% 28%, 96% 75%, 50% 100%, 2% 75%, 2% 28%);
  /*precisou fazer alguns ajustes do original pra alinhar o poligrafo*/
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  padding: 0;
  margin-top: 4rem;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
/*animação no selo*/
@keyframes anim {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

/* versão para tablet e desktop*/
@media screen and (min-width: 720px) {
  main {
    background: url(./images/Desktop.svg) no-repeat center/cover;
  }
  .avatar {
    margin: 19rem 4.5rem 0;
  } /* Esse deu a altura da margem correta em tela cheia.*/
}
